QUICKSLOT_AGENT_MODE=aws
AWS_REGION=us-east-1
QUICKSLOT_APP_NAME=quickslot
QUICKSLOT_IAC_LAMBDA_NAME=quickslot-iac-runner
QUICKSLOT_ALLOWED_INSTANCE_TAG=Application=smart-parking
QUICKSLOT_DEFAULT_SECRET_NAME=quickslot-06
QUICKSLOT_DEFAULT_LOG_MINUTES=30
